@model DraftsMVC5.ViewModels.AdSearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Szukaj</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AdSearchViewModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SellerID, "Seller")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SellerID", Model.SellerList, String.Empty)
            @Html.ValidationMessageFor(model => model.SellerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PriceFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PriceFrom)
            @Html.ValidationMessageFor(model => model.PriceFrom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PriceTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PriceTo)
            @Html.ValidationMessageFor(model => model.PriceTo)
        </div>

        <p>
            <input id="SearchBtn" type="submit" value="Search" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


